
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/testing.css' %}"/>
</head>
<body>
    <h1>I will be a good programmer</h1>
</body>
</html>

<!--1)static_url-ДОСТУП НАПРЯМУЮ К СТАТИЧЕСКИМ ФАЙЛАМ
2) STATIC_ROOT- поиск статических файлов в директории указанной в константе рут
3)STATICFILES_DIRS-ПОИСК СТАТИЧЕСКОЙ ПАПКИ КАЖДОГО ПРИЛОЖЕНИЯ
4)STATICFILES_STORAGE-КОНСТАНТА ДЛЯ хранения файлов, используемый при сборе статических файлов с помощью команды управления collectstatic.
5)STATICFILES_FINDERS-Список поисковых серверов, которые умеют находить статические файлы в разных местах.
-По умолчанию будут найдены файлы, хранящиеся в параметре STATICFILES_DIRS -->

<!--models.BooleanField(true or false)
models.DateTimeField(int)
models.FloatField(float)
models.CharField(max_lenght=n)
models.EmailField(str)
models.TextField(str)-->