{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TODO-MEETING</title>
        <!--<link rel="stylesheet" href="./index.css"/>-->
        <link rel="stylesheet" href="{% static 'styles/testing.css' %}"/>
        <!--<link rel="stylesheet" href="./checkbox.css"/>-->
        <link rel="stylesheet" href="{% static 'styles/checkbox.css' %}"/>
    </head>
<body>
    <section>
        <div class="create_container">
            <form action="{% url 'add-tomeet' %}" method="POST">
                {% csrf_token %}
            <input 
            class="create_input" 
            type="text" 
            placeholder="Напишите сюда ФИО"
            name="tomeet_text"
            />
        <button class="create_button">Добавить</button> 
             </form>
       </div>

        <div class="todo_container">
             {% for tomeet in tomeet_list %}
             <div class="todo_item {% if tomeet.is_favorite %}
             marked {% endif %}">   
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox"/>
                        <span class="checkmark"></span>
                    </label>                
  <h2>{{tomeet.persone}}
            </div>
            <div class="todo_item_footer">
                <p>{{ tomeet.comment }}
                    {{tomeet.phone_number}}
                    {{tomeet.date_of_meeting}}</p>

                <div class="action_buttons">
                
                    {% if tomeet.is_favorite %}
                    <a href ="{% url 'unmark-tomeet' tomeet.id %}"><img src="{% static './icons/marked.png' %}"/></a>
                 {% else %}                 
                 <a href ="{% url 'mark-tomeet' tomeet.id %}"><img src="{% static './icons/unmarked.png' %}"/></a>
                 {% endif %}
                 <a href="{% url 'delete-tomeet' tomeet.id %}"><img src="{% static './icons/delete.png'  %}"/></a>
                </div>
            </div>
        </div>
        {% endfor %}
     </div>
    </section>
</body>
</html>

<!--Django ORM — это инструмент фреймворка Django, который позволяет взаимодействовать с базами данных, 
    используя высокоуровневые методы Python, а не SQL-запросы. Он относится к типу ORM, 
    который реализует шаблон Active Record. Общая суть шаблона в том, 
    что каждой таблице в приложении соответствует одна модель.  -->